* {
    padding: 0;
    margin: 0;
}

:root {
    --background-color: rgb(252, 235, 250);
    --container-background-color: rgb(250, 225, 247);
    
    --text-color: rgb(46, 3, 41);
    --second-text-color: rgb(94, 60, 91);
    --border-color: rgb(46, 3, 41);
    --focus-border-color: rgb(148, 53, 140);
    --elements-background-color: rgb(243, 190, 239);
    --focus-elements-background-color: rgb(255, 241, 255);
}

@font-face {
    font-family: 'fintek';
    src: url('../fonts/Finlek-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh; 
    margin: 0;
}

#image {
    width: 240px;
    border-radius: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5vw 1vw;
    gap: 8px;
    width: 280px;
    background-color: var(--container-background-color);
    border-radius: 24px;
    box-shadow: 2px 4px 12px rgba(78, 6, 72, 0.548);
    transition: all .4s;
}

.button {
    font-family: 'fintek';
    font-size: 16px;
    letter-spacing: .12em;
    color: var(--text-color);
    padding: 2px 15px;
    border: var(--border-color) solid 2px;
    border-radius: 8px;
    background-color: var(--elements-background-color);
    transition: all .3s;
    cursor: pointer;
}
.button:hover {
    background-color: var(--focus-elements-background-color);
    border-color: var(--focus-border-color);
}

#title {
    width: 100%;
    font-family: 'fintek';
    letter-spacing: .1em;
    font-size: 24px;
    text-align: center;
    color: var(--text-color);
}